/* ------------------------------------19-09 work----------------------------------- */
.content-body {
    background: #fff;
    padding: 50px;
    box-shadow: 0px 0px 6px -2px;
    border-radius: 5px;
    max-width: 950px;
    margin: auto;
	overflow: hidden;
    position: relative;
}
.header-border {
    width: 100%;
    height: 2px;
    background: #f4f4f8;
    position: absolute;
    left: 0;
}
.back-and-next {
    display: flex;
    justify-content: space-between;
	    margin-top: 15px;
}
.body-data {
    padding-bottom: 10px;
}
.body-section {
/*    margin-top: 20px;
    margin-bottom: 20px;*/
    position: relative;
    display: flex;
}
.body-section h6 {
    font-weight: 500;
    font-size: 16px;
}
.body-section img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.body-box {

    text-align: left;
    padding: 13px 25px;
    background: #d9f4f0;
    border-radius: 25px;
    margin-bottom: 10px;
    color: black;
        min-height: 118px;
}
.icon-name {
    font-weight: 500;
}
.body-icon i {
    background: white;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #65b9ac;
    margin-right: 12px;
}
.body-icon {
    margin-bottom: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    /* padding: 11px; */
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -70%);
    position: absolute;
}
.body-box img {
    max-width: 25px;
}
.flag-data {
    font-size: 14px;
    font-weight: 700;
    margin-right: 28px;
}
.line-bar, .line-bar1, .line-bar2, .line-bar7 {
    width: 100%;
    height: 4px;
    background: #f4f4f8;
    margin-bottom: 15px;
    border-radius: 37px;
    position: relative;
}

.line-bar:after {
    width: 51%;
    height: 4px;
        background-image: linear-gradient(to right, #65b9ac6b , #65b9ac);
    position: absolute;
    content: "";
    left: 0;
}
.line-bar .line-dot {
    width: 17px;
    height: 17px;
    background: #65b9ac;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    z-index: 1;
    left: 50%;
}
.line-bar1:after {
    width: 100%;
    height: 4px;
        background-image: linear-gradient(to right, #65b9ac6b , #65b9ac);
    position: absolute;
    content: "";
    left: 0;
}
.line-bar1 .line-dot {
    width: 17px;
    height: 17px;
    background: #65b9ac;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    z-index: 1;
    right: 0;
}
.line-bar2:after {
    width: 0;
    height: 4px;
        background-image: linear-gradient(to right, #65b9ac6b , #65b9ac);
    position: absolute;
    content: "";
    left: 0;
}
.line-bar2 .line-dot {
    width: 22px;
    height: 22px;
    background: #57e7d2;
    position: absolute;
    top: -9px;
    border-radius: 50%;
    z-index: 1;
    left: 0;
    border: 4px solid #d9f4f0;
}
.line-bar7:after {
    width: 75%;
    height: 4px;
        background-image: linear-gradient(to right, #65b9ac6b , #65b9ac);
    position: absolute;
    content: "";
    left: 0;
}
.line-bar7 .line-dot {
    width: 17px;
    height: 17px;
    background: #65b9ac;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    z-index: 1;
    left: 630px;
}
.line-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.line-data span {
    font-size: 14px;
    font-weight: 500;
}
.btn-style {
    padding: 4px 10px;
    width: 100px;
}
h5.text-center {
    font-weight: 500;
    font-size: 18px;
}
.bank-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*align-items: center;*/
    display: flex;
}
.count-btn a {
    padding: 10px 70px;
    border-radius: 5px;
    background: #65b9ac;
    color: white;
    border: none;
}
.count-btn {
    display: table;
    margin: auto;
    margin-top: 27px;
}

/* Hide the browser's default radio button */
.bank-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.line-bar6:after {
    width: 75%;
    height: 4px;
    background-image: linear-gradient(to right, #65b9ac6b , #65b9ac);
    position: absolute;
    content: "";
    left: 0;
}
 .line-bar6 {
    width: 100%;
    height: 4px;
    background: #f4f4f8;
    margin-bottom: 15px;
    border-radius: 37px;
    position: relative;
}
.line-adjust {
  width: 17px;
    height: 17px;
    background: #65b9ac;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    z-index: 1;
    left: 630px;
}

/* Create a custom radio button */
.bank-radio .checkmark {
    position: absolute;
    top: 27px;
    right: 8px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #57e7d2;
}

/* On mouse-over, add a grey background color */
.bank-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.bank-radio input:checked ~ .checkmark {
  background-color: #65b9ac;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.bank-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.bank-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.bank-radio .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.body-bank label {
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 10px;
    font-size: 1rem;
    padding-bottom: 0;
}
.bank-radio:hover {
    background: #f4f4f8
}

.body-bank {
    margin-top: 15px;
}
.bank-card {
    font-weight: 500;
	    margin-left: 55px;
}
.bank-card-text {
/*    margin-left: 60px;*/
    margin-left: 30px;
}
.trans-data {
    display: flex;
    justify-content: space-between;
    font-size: 1;
}

.trans-detail {
    border: 1px solid #e8e8e8;
    padding: 10px;
    border-radius: 5px;
	    box-shadow: 0px 0px 6px -4px;
}
.form-data {
    padding: 20px 0;
}
.bank-radio:active {
    background: #f4f4f8;
}
.bank-radio:visited {
    background: #red;
}
.intro {
    background: #f4f4f8;
}
span.first-span {
    max-width: 55%;
	    text-align: left;
}

span.second-span {
    max-width: 40%;
	    text-align: right;
}
.trans-data {
    margin-bottom: 10px;
}
.trans-bank.trans-space {
    margin-top: 20px;
}
/*.input-content-text {
    margin-top: 50px;
}*/
.backgroud-add {
    background: white;
    padding: 30px 30px;
    border-radius: 25px;
}
label.bank-radio i {
    padding: 9px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #57e7d2;
    padding-left: 10px;
    position: absolute;
    top: 15px;
}
label.balance-result i {
    background: #eeeeee;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color:  #65b9ac;
    padding-left: 16px;
    position: absolute;
        top: 75px;
}
.calculator-page {
    display: flex;
    position: relative;
    border: 1px solid #65b9ac;
}
.calculator-input {
    position: relative;
	width: 100%;
}
.calculator-input input {
    width: 100%;
}
p.input-text {
    position: absolute;
	left: 10px;
	top: 4px;
}

input.flag-input {
    padding: 5px;
	    /* border: 2px solid #e8e8e8; */
    padding-top: 20px;
	    font-size: 24px;
}
.currency-page {
    max-width: 400px;
    margin: auto;
}

.calculator-dropdown ul {
    height: 67px;
    max-width: 100%;
    border: 0px #e8e8e8 solid;
    position: absolute;
    right: 0;
    margin-bottom: 0;
        width: 97px;
}
.calculator-dropdown ul li {
    padding: 18px 11px;
    /* z-index: 2; */
    background: #65b9ac;
    height: 65px;
    color: #fff;
    font-weight: 500;
}
.calculator-dropdown ul li:not(.init) { float: left; width: 100%; display: none; background: #ddd; }
.calculator-dropdown ul li:not(.init):hover, ul li.selected:not(.init) { background: #65b9ac; }
.calculator-dropdown li.init { cursor: pointer; }

.calculator-dropdown a#submit { z-index: 1; }
img.flag-images {
    max-width: 25px;
}
.calculator-dropdown2 ul {
    height: 49px;
    max-width: 100%;
    /* border: 2px #e8e8e8 solid; */
	position: absolute;
    right: 0;
	    z-index: 1;
                width: 97px;
}
.calculator-dropdown2 ul li {
    padding: 18px 11px;
    /* z-index: 2; */
    background: #65b9ac;
    height: 65px;
    color: #fff;
    font-weight: 500;
}
.calculator-dropdown2 ul li:not(.init2) { float: left; width: 100%; display: none; background: #ddd; }
.calculator-dropdown2 ul li:not(.init2):hover, ul li.selected:not(.init2) { background: #65b9ac; }
.calculator-dropdown2 li.init2 { cursor: pointer; }

.calculator-dropdown2 a#submit { z-index: 1; }
.calculate-data {
    margin-bottom: 10px;
	    margin-left: 30px;
		position: relative;
}
.calculate-data:before {
    position: absolute;
    content: "";
    background: #ececec;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -25px;
    top: 9px;
	z-index: 1;
}
.calculate-data:after {
    position: absolute;
    content: "";
    height: 240%;
    width: 2px;
    background: #e8e8e8;
    left: -21px;
    top: -17px;
    
}
.cal-result {
    margin-bottom: 20px;
}
span.six-value {
    font-weight: 500;
    color: #2e4369;
    font-size: 18px;
}
span.rate-value {
    color: #999;
    font-size: 18px;
    margin-left: 30px;
}
.btn-styl {
        background: #69aba1;
    border: 1px solid #93dbd0;
    font-weight: 500;
    color: white;
}



.result-btn {
    display: flex;
    justify-content: space-between;
}

.btn-styl:hover {
    background: #2e4369;
    border: 1px solid #000102;
}
.six-new {
    color: #999!important;
}
.calculate-data:nth-child(1):before {
    display: none;
}
.see-space {
    margin-top: 17px;
}
.select-space {
    margin: 0 25px;
    border: 1px solid #ececec;
    padding: 5px 10px;
}
.currency-page1 {
    max-width: 450px;
    margin: auto;
}
.currency-page1 .trans-detail {
    margin-top: 15px;
}
.tree-btn .btn-styl {
    width: 100%;
    margin-bottom: 10px;
}

.instruction-btn {
    margin-top: 10px;
}
.transparent-style {
    background: transparent;
    color: #2e4369;
}
.instruction-body a {
    color: #212529;
}
.instruction-body {
    margin-bottom: 15px;
}
.bold-text-input {
    font-weight: 700;
}
.payment-link {
    display: table;
    margin: auto;
    border-bottom: 1px solid;
}
.accont-box {
    border: 1px solid #ccc;
    padding: 5px 5px;
    width: 95%;
    margin: auto;
}
.col-md-6.transfer-body {
    margin: auto;
    margin-top: 20px;
}
.transfer-text {
    width: 95%;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    outline: none;
    margin: auto;
}
.transfer-bank label{
	height:70px
}
.btn-bottom {
    max-width: 100%;
    background: #65b9ac;
    padding: 10px 170px;
    border-radius: 4px;
    text-align: center;
	color: white;
}
a.btn-bottom:hover {
    color: white;
}
.line-bar5:after {
    width: 27%;
    height: 4px;
    background-image: linear-gradient(to right, #65b9ac6b , #65b9ac);
    position: absolute;
    content: "";
    left: 0;
}
.line-bar5 .line-dot {
    width: 17px;
    height: 17px;
    background: #65b9ac;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    z-index: 1;
    left: 26%;
}
.line-bar, .line-bar1, .line-bar2, .line-bar5  {
    width: 100%;
    height: 4px;
    background: #d9f4f0;
    margin-bottom: 15px;
    border-radius: 37px;
    position: relative;
}
.accont-box input[type=checkbox], .accont-box input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    FLOAT: LEFT;
    WIDTH: auto;
    MARGIN: 5PX 10PX;
}
.new1 {
    FLOAT: LEFT;
}
.bottom-heading {
    FLOAT: LEFT;
    MARGIN-BOTTOM: 12PX;
}
.trans-data-2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.main-header h2 {
    text-align: center;
}
.main-header {
    width: 80%;
    margin: auto;
    padding: 10px;
}
.trans-bank-2 {
    display: flex;
    justify-content: space-between;
	margin-top: 30px;
}
.heading-middle {
    height: 2px;
    background: #ccc;
    margin-top: 30px;
}
.count-btn a:hover {
    color: white;
}

.calculator-dropdown ul, .calculator-dropdown ul li {
    z-index: 9;
}
.payment-overflow {
        overflow-y: scroll;
}
@media (max-width:380px){
.line-data span {
    font-size: 12px;
}
}
.tooltip {
  position: relative;
  display: inline-block;
 opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 322px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 1;
    top: -97px;
    left: -5px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #93dbd0;
}


.tooltiptext:after {
    content: "";
    position: absolute;
    top: 106%;
    right: 93%;
    margin-top: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #93dbd0 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.personal-radio .new-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.personal-radio .new-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.personal-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.personal-radio .new-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.personal-radio .new-container input:checked ~ .checkmark {
  background-color: #65b9ac;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.personal-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.personal-radio .new-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.personal-radio .new-container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
label.new-container {
    font-size: 16px!important;
}
.personal-new-radio {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.body-bank label {
    padding: 0px 10px;
    font-size: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
    padding: 23px 10px;
    font-size: 1rem;
    padding-bottom: 29px;
}
.radoi-set span.bank-card {
    width: 108px;
}
/*.on-btn {
    width: 100%;
    max-width: 100%;
    z-index: 1;
    background: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    color: black;
    left: 0px;
    top: 2px;
    box-shadow: 0px 0px 5px 2px #ccc;
}*/
.on-btn {
    padding: 8px 10px;
    border: 2px solid #93dbd0!important;
    text-align: center;
    font-size: 12px;
    color: #93DBCF!important;
    height: initial!important;
    line-height: 15px;
    border-radius: 21px;
    width: 140px;
    float: left;
}
.col-md-12.box-payment-space {
    padding: 20px 50px;
}
span.add-nmbr {
    font-weight: 700;
}
.body-box p {
    color: black;
}
.line-dot.add-dot {
    border: 3px solid #d9f4f0;
    background: #f5f9f8;
}
.line-dot.add-dot.dot-show-1 {
    left: 246px;
}.line-dot.add-dot.dot-show-2 {
    left: 480px;
}
.line-dot.add-dot.dot-show-3 {
    left: 730px; 
}
.line-dot.add-dot.dot-show-4 {
    left: 960px;
}
.on-btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.on-btn {
    display: flex;
    justify-content: center;
}
.on-btn h6 {
    font-weight: 700;
}
.add-ragular p {
    font-size: 12px;
    width: 100%;
    color: black;
    font-weight: 600;
}
.add-ragular input {
    border: 0;
    background: #eefdfa;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    outline: none;
    font-size: 12px;
    padding: 5px;
    color: black;
}
.add-ragular {
    display: flex;
    justify-content: space-between;
    /* border-right: 2px solid #eefdfa; */
    /* padding: 0px 10px; */
    margin-bottom: 25px;
        align-items: center;
}
.add-ragular select {
    border: 0;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    outline: none;
    font-size: 14px;
    padding: 5px;
    color: black;
/*    font-weight: 600;*/
    background: #eefcf9;
        padding-left: 10px;
    
}
.add-ragular.border-dlt {
    border: none;
}
.btn-select {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.payment-btn.btn-select a {
    background: white;
    color: black;
    border: none;
    border-radius: 25px;
    width: 100% !important;
    max-width: 150px !important;
}
.add-ragular input::placeholder {
    color: black;
}
.tree-btn {
    width: 200px;
    margin: auto;
    max-width: 100%;
}
.tree-btn a {
    border-radius: 25px;
}
.line-dot.progress-1 {
    z-index: 9999;
    left: 246px;
}
.line-dot.progress-2 {
    left: 480px;
    z-index: 999;
}
.line-dot.progress-3 {
    left: 730px;
    z-index: 999;
}
.line-dot.progress-4 {
    left: 960px;
    z-index: 99;
}
.one-off {
    border: none;
}
input#investmentName {
    padding: 3px 0px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px 1px #57e7d2;
}
select#beneficiaryId {
    margin-bottom: 1px;
    border: none;
    padding: 3px 0px;
    outline: none;
    box-shadow: 0px 0px 3px 1px #57e7d2;
}
.name-bank select#bankName {
    PADDING: 10PX;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.acpt-btn a {
    background: #57e7d2;
    border: 1px solid #57e7d2;
    font-weight: 500;
    color: white;
    max-width: 30% !important;
    display: table;
    margin: auto !important;
    border-radius: 25px;
    padding: 10px 0px !important;
    width: 100% !important;
}

.sell-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}
.removerror {
    width: 100%;
    border-radius: 25px;
    border: none;
    text-align: center;
    /*text-transform: uppercase;*/
    background: #eefdfa;
    color: black;
        padding: 10px 0px;
    /*text-transform: capitalize;*/
    outline: none;
     
}
.chose-currncy {
/*    display: flex;
    justify-content: space-between;
    width: 100%;*/
        margin: 10px 0;
            text-align: center;
}
.currncy-type input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 25px;
    text-align: center;
    background: #eefdfa;
        font-size: 12px;
}
.cncl-btn {
    border: 2px solid #57e7d2;
    padding: 6px 30px;
    border-radius: 25px;
    background: white;
    color: #93dbd0;
    font-weight: 100;
}
.selct-sell-btn{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
}
.input-content-text {
    margin-top: 50px;
    background: white;
    padding: 50px 30px;
    border-radius: 20px;
    width: 85%;
    margin: auto;
}
.btn-primary.btn-styl.payment-back {
    border: 2px solid #57e7d2;
    padding: 6px 30px;
    border-radius: 25px;
    background: white;
       color: #93dbd0;
}

.line-dot.add-dot.dot-show-1.show-1 {
    left: 325px;
}
.line-dot.add-dot.dot-show-2.show-2 {
    left: 625px;
}
.line-dot.add-dot.dot-show-3.show-3 {
    left: 965px;
}
.line-dot.progress-1.main-progress {
    left: 325px;
}
.line-dot.progress-2.main-progress-2 {
    left: 625px;
}
.line-dot.main-progress-3.progress-3 {
    left: 965px;
}
.plus-btn {
    background: #57e7d2;
    color: white;
}
.plus-btn {
    background: #57e7d2;
    color: white;
}
.term-accpt input {
    max-width: 100%;
    width: 20px;
    margin-top: 5px;
    margin-right: 10px;
}
.term-accpt {
    display: flex;
    width: 100%;
        margin-bottom: 20px;
}
a.btn.btn-primary.btn-styl.payment-back.next2.plus-btn {
    background:#57e7d2;
    color: white;
}
a.btn.btn-primary.btn-styl.payment-back.next3.plus-btn {
    background:#57e7d2;
    color: white;
}
a.btn.btn-primary.btn-styl.payment-back.previous3:hover {
    color: red!important;
}

a.btn_payment {
    padding: 8px 40px;
    border: 2px solid #93dbd0!important;
    text-align: center;
    font-size: 12px;
    color: #93DBCF!important;
    height: initial!important;
    height: 10px;
    line-height: 15px;
    border-radius: 21px;
    width: 140px;
    float: left;
}
a.btn_payment1 {
    padding: 8px 3px;
    border: 2px solid #93dbd0!important;
    text-align: center;
    font-size: 12px;
    height: initial!important;
    line-height: 15px;
    border-radius: 21px;
    width: 140px!important;
    float: right;
    background: #93dbd0;
    color: white !important;
}
a.btn_payment1.last-btn {
    width: 188px !important;
}
.term-part {
    width: 100%;
    margin-bottom: 30px;
}
.term-part h5 {
    text-align: center;
    margin-bottom: 20px;
}
.currncy-type h6 {
    margin: 10px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.payment-hover:hover {
    background: #93dbd0;
    color: #ffffff !important;
}
@media (max-width:576px){
    .input-content-text {
    padding: 50px 10px;
    width: 95%;
}
}
@media (max-width:992px){
  .selct-info-btn .on-btn {
    width: 100%;
    margin-bottom: 5px;
}
.selct-info-btn {
    display: table;
    margin: auto;
    max-width: 200px;
}
}
select.selectoption {
/*    padding-right: 25px;*/
    background : url("arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 6px) 50%;
    -ms-appearance: none;
    appearance: none;
}
@-moz-document url-prefix() {
    select.selectfrequecy {
        /*padding-right: 25px;*/
        background-image: url("arrow.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 6px) 50%;
        -moz-appearance: none;
        appearance: none;
    }
}