.breadcrumb {
       background: linear-gradient(to right, rgb(44, 148, 236), rgb(48, 75, 183)) !important;
}
.element-box.ele-overlay:before {
    background: #93dbd0!important;
}
.btn-style {
    background: #65b9ac;
}
.btn-style:hover {
    background: linear-gradient(to left, #65b9ac, #65b9ac8c)!important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #2d2a26;
}
.element-wrapper .element-header:after {
    background-color: #2d2a26;
}
.menu-side-w ul.main-menu>li>a {
    color: #2d2a26;
}
.menu-side-w ul.main-menu>li .icon-w {
    color: #2d2a26;
}
.element-box.ele-overlay h6 {
    color: #2d2a26;
}
.content-i {
    background: #d8d8d85c;
}
.btn-success {
    color: #fff;
    background-color: #799fc3;
    border-color: #799fc3;
}
.btn-success:hover {
    color: #fff;
    background-color: #5281af;
    border-color: #5281af;
}
.btn-danger {
    color: #fff;
    background-color: #c64b38;
    border-color: #c64b38;
}
::-webkit-scrollbar-thumb:hover {
    background: #2f55be !important;
}
body {
 color: #2d2a26;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-item:hover .nav-link {
    color: #54555a;
}
.label {
     color: #54555a;
}
.el-tablo .label {
    color: #54555a;
}
.el-tablo {
        color: #2d2a26;
}
p {
    color: #54555a;
}
.icon-w i {
    font-size: 30px;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background: linear-gradient(to right, #2c94ec, #304bb7);
}
/*.onloader {
    width: 100%;
    position: fixed;
    z-index: 999999;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.main-sparkline13-hd {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.main-sparkline13-hd h1 {
    font-size: 20px;
}
.add-btn {
    padding: 5px 15px;
	background: #65b9ac;
    border: none;
}
.main-deleteline {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
button.btn.btn-primary.dlt-btn {
    padding: 0px 30px;
}
.table-bordered {
    border: 1px solid #dee2e6;
    margin-top: 16px;
}
.spaceprevent {
    background: #fafbff!important;
}
.multichoosenlist {
 background: #fafbff!important;
}
.btn-add-cls {
    margin-top: 10px;
}
.members select {
    padding: 7px 64px;
    border-radius: 5px;
}
.waves-light{
    background: #65b9ac;
    border: none;
}
.waves-light:hover{
    background: #65b9ac;
    border: none;
}
.dlt-btn {
    background: #65b9ac;
    border: none;
}
.dlt-btn:hover {
    background: #65b9ac;
    border: none;
}
.add-btn:hover {
    background: #65b9ac;
    border: none;
}
.btn-chng-1 {
    bottom: 18px;
}
.btn-info-chng{
left: 384px !important;
    top: 20px !important;
}
.btn-styl {
    font-size: 12px !important;
    padding: 7px 5px !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 2px !important;
}


.switchnight {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.switchnight input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switchnight .slidernight {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchnight .slidernight:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchnight input:checked + .slidernight {
  background-color: #65b9ac;
}

.switchnight input:focus + .slidernight {
  box-shadow: 0 0 1px #2196F3;
}

.switchnight input:checked + .slidernight:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchnight .slidernight.roundnight {
  border-radius: 34px;
}

.switchnight .slidernight.roundnight:before {
  border-radius: 50%;
}
a.opthide:hover {
    color: #65b9ac;
}
.pincode-input-text:focus {
    border: 1px solid #ccc!important;
}
a.tbl-add-btn{
    padding: 5px 15px;
    float: right;
    margin-bottom: 10px;
    background:  #65b9ac;;
    color: white;
    border: none;
    border-radius: 5px;
}
.col-md-12.invst-option.main-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
a.btn.btn-primary.btn-styl.transparent-style:focus {
    color: #2e4369!important;
}
/* Popup container - can be anything you want */
.notify-pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.notify-pop .popuptext {
    visibility: hidden;
    width: 270px;
    background-color: white;
    color: #858689;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
   bottom: 0%;
    left: 140%;
    margin-left: -80px;
    border: 1px solid #93dbd0;
}

.menu-and-user {
    z-index: 9;
}
/* Popup arrow */
/*.notify-pop .popuptext::after {
    content: "";
    position: absolute;
    top: 140px;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #91d9cf transparent transparent;
}*/

/* Toggle this class - hide and show the popup */
.notify-pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.section-pop-2 i {
    width: 21px;
    float: left;
    color: #93dbd0;
}
.notify-data {
    float: left;
    width: 89%;
}
.notify-data p {
    font-size: 10px;
     text-align: left;
}
.notify-data h6 {
    font-size: 12px;
    text-align: left;
    color: black;
        font-weight: 600;
}
.section-pop-2 {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
button.confirm {
    background: #2f55be !important;
}
.notify-pop .popuptext::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #91d9cf transparent transparent;
}
span#add-Popup {
    padding: 7px;
}
i.fa.fa-dot-circle-o {
    font-size: 15px;
}
 .pop-one .popup-text::after {
                content: "";
                position: absolute;
                top: -10px;
                left: 7%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #93dbd0 transparent;
            }

            /* Toggle this class - hide and show the popup */
            .pop-one .popup-text.show {
                visibility: visible;

                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }

            .pop-one .popup-text {
                visibility: hidden;
                width: 270px;
                background-color: white;
                color: #858689;
                font-weight: 500;
                text-align: center;
                border-radius: 6px;
                padding: 10px 15px;
                position: absolute;
                z-index: 1;
                top: 95%;
                left: 140%;
                margin-left: -80px;
                border: 1px solid #93dbd0;
            }
            .pop-one.label {
                position: relative;
                cursor:pointer;
            }
            /* Add animation (fade in the popup) */
            @-webkit-keyframes fadeIn {
                from {opacity: 0;}
                to {opacity: 1;}
            }
            @keyframes fadeIn {
                from {opacity: 0;}
                to {opacity:1 ;}
            }

            .section-pop-1 {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                border-bottom: 1px solid #f4f4f4;
                padding-bottom: 10px;
                font-weight: 400;
                letter-spacing: 0.5px;
            }
            .pulsating-circle4:after {
                content: '';
                position: relative;
                left: 0;
                top: -20px;
                display: block;
                width: 100%;
                height: 100%;
                background-color: #2f55be !important; 
                border-radius: 15px;

            }