.checkout-box {
    min-height: 14rem;
    padding: 1.3rem;
    border-radius: 1rem;
    background-color: #fff;
	box-shadow: 0px 1px 5px 0px #c1c1c1;
	position: relative;
	margin-bottom: 20px;
}
.checkout-text {
    margin-bottom: 20px;
}
.checkout-box p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #7f8a93;
}
.checkout-box-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #65b9ac;
}
.checkout-box:hover {
    position: relative;
    bottom: 1px;
}
.admin-checkout a:hover {
    text-decoration: none;
}
.zoo-content_body {
/*	max-width: 850px;
	margin: auto;*/
	margin-top: 10px;
	background: #fff;
}

.zoo-content-section {
	padding: 30px;
}
.zoo-btns {
	display: flex;
	justify-content: space-between;
	    margin-top: 20px;
}
#msform fieldset:not(:first-of-type) {
	display: none;
}
.country-option-header {
    background: linear-gradient(to right, #2c94ec, #304bb7) !important;
    padding: 10px 30px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.region-text {
    font-weight: 500;
    font-size: 1.2rem;
	    color: #fff;
}
.region-text-icon {
    font-size: 1.2rem;
    cursor: pointer;
}
.region-text-icon i {
    color:#fff;
}
.select-country__region-header {
    cursor: pointer;
    margin-bottom: 1.5rem;
    box-shadow: 0 -0.2rem 2.3rem -1.8rem rgba(19,19,21,.45);
    border-radius: 5px;
        padding: 7px 10px;
    color: #7f8a93;
    border: 1px solid rgba(127,138,147,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
        margin-top: 10px;
}
.country-option-btn {
    background: #65b9ac;
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
        width: 150px;
}
.select-radios-zoo [type="radio"]:checked,
.select-radios-zoo [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.select-radios-zoo [type="radio"]:checked + label,
.select-radios-zoo [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    box-shadow: none;
}
.select-radios-zoo [type="radio"]:checked + label:before,
.select-radios-zoo [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.select-radios-zoo [type="radio"]:checked + label:after,
.select-radios-zoo [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #2c94ec;
    position: absolute;
    top: -2px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.select-radios-zoo [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.select-radios-zoo [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.select-radios-zoo p {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px;
    border: 1px solid #f2f2f3;
    margin-bottom: 1rem;
}
.select-radios-zoo p:hover {
    background: #a9a9a91a;
}
.select-radios-zoo-check .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.select-radios-zoo-check .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.select-radios-zoo-check .styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #ddd;
}
.styled-checkbox:checked + label:before {
  background: #2c94ec;
}
.select-radios-zoo-check .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.select-radios-zoo-check .unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.select-radios-zoo-check li {
  margin: 20px 0;
  display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px;
    border: 1px solid #f2f2f3;
}
.select-radios-zoo-check label {
    margin-bottom: 0;
}
.select-zoo-form {
    margin: 10px 0;
}

.select-zoo-form input, .select-zoo-form select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dcdfe2;
    padding: 7px;
}
.zoo-terms li {
    margin: 10px 0;
    padding: 0;
    border: none;
}




