.smaller.box-margin {
    background: white;
    border-radius: 4px;
}
.historical-list .nav-item {
    width: auto!important;
}
.content-box {
    background: #e9eaed;
}
.show-more-page {
    background: #f5f9f8;
}
.invest-detail-box .el-tablo.trend-in-corner, .new-perform .el-tablo.trend-in-corner, .element-content .el-tablo {
    background: #ddf8f4;
    height: 112px;
}
.invest-detail-box .label, .new-perform .label, .element-content .el-tablo .label {
    font-size: 16px!important;
    color: white!important;
    text-transform: capitalize!important;
}
.ajust-div .value, .performance-sec .value, .element-content .el-tablo .value{
    background: #ffffff!important;
    padding: 15px 0px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px 0px #d0d0d0!important;
    color: #000!important;
    width: 100%;
    border-radius: 20px;
}
.ajust-div, .performance-sec, .element-content .el-tablo {
    padding: 13px 0px!important;
}
div#myTabContent {
    background: #E9EAED;
    
}
p.each {
    color: black;
    line-height: 1.5;
}
.card.mt-3.tab-card {
    background: #E9EAED;
    border: none;
}
.element-box22 .card-header {
    padding: 0;
}
div#myTabContent .p-3 {
    padding: 0!important;
}
.profile-weight {
    background: white !important;
}
.slideshow-container .fade:not(.show) {
    opacity: 1!important;
}
.payment-page-style .content_body {
    background: #f5f9f8;
    position: relative;
    display: block;
}
.payment-page-style #msform {
    text-align: center;
    position: relative;
    margin-top: 0;
}
.payment-page-style .content_body {
    padding: 0;
    margin: 0;
    height: 0 !important;
}
.content_background form#msform {
    background: transparent;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
}
.investment-form {
    background: #f5f9f8;
    height:100%;
}
.investment-form #msform fieldset {
    padding: 0;
    width: 93%;
}
.content_background .removerror {
    width: 100%!important;
    border-radius: 25px!important;
    text-align: center;
    background: #2f55be!important;
    color: #fff!important;
    padding: 10px 0px!important;
    border: none!important;
}
.pincode-input-container input {
    width: 27px!important;
    border: 1px solid #ccc !important;
    padding: 10px 3px!important;
    text-align: center;
}
.name-bank input {
    border: 1px solid #ced4da!important;
    border-radius: .25rem!important;
    padding: .375rem .75rem!important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}
.name-bank input:focus {
    border: 1px solid #ccc!important;
}
.term-value ol > li {
    font-weight: 400;
}
.currncy-type input {
    border: none!important;
    background: #eefdfa!important;
    border-radius: 20px!important;
    text-align: center;
    font-size: 12px!important;
}
.main-option .main-deleteline .btn-danger.disabled, .main-option .main-deleteline .btn-danger:disabled {
    background-color: #e65252!important;
    border-color: #e65252!important;
    border-radius: 4px!important;
    color: #fff!important;
}
div#all-notes_filter input {
    padding: 5px;
}
div#all-notes_length select {
    border: 1px solid #2f55be;
    border-radius: 14px;
    padding: 4px;
}
.country-option-btn {
    background: linear-gradient(to right, #2c94ec, #304bb7)!important;
    border: none;
    color: #fff!important;
    padding: 10px 20px!important;
    border-radius: 5px!important;
    width: 150px!important;
    cursor: pointer;
}
.zoo-content_body fieldset {
    padding: 0!important;
}
.zoo-content_body form#msform {
    box-shadow: none;
    border-radius: 0;
}

.zoo-content-section p.select-country__option {
    text-align: left;
}
.select-zoo-form h6 {
    text-align: left;
    margin-bottom: 10px;
}

.add-check-btn input {
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
}
form#msform a {
    font-family: montserrat, arial, verdana;
}
.pulsating-circle2.pulsating-around2.one {
    top: 5px;
    right: -7px;
}
.newone .table-bordered {
    margin-top: 0px;
}
.newone .table-bordered th, .table-bordered td {
    border: 1px solid #ccc;
}
.newone .table-bordered {
    border: none;
    border-radius: 0px;
}
.admin-new-one .element-box.el-tablo {
    background: white;
    border-radius: 4px;
}
.admin-new-one .el-tablo .value {
    box-shadow: none !important;
    padding: 0px;
    background: transparent!important;
    color: #fff!important;
    cursor: pointer;
}
.admin-new-one .element-box.el-tablo {
    height: auto;
    text-align: left;
    padding: 22px !important;
}
.admin-new-one .value{
    margin-top: 3px!important;
}
.admin-new-one .el-tablo .label {
    text-align: left!important;
}
.admin-new-one .trending{
    display: none;
}
.admin-new-one .table-bordered {
    border-radius: 0px;
}
.admin-new-one .el-tablo:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
     transform: translateY(-5px) scale(1.02);
    -webkit-box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
    box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
}
.admin-new-one .search-data-table input {
   border: 1px solid #ccc;
}
.limiter .login100-form-title {
    padding-bottom: 48px;
}
.limiter input {
    border: none!important;
}
.limiter .text-center {
    padding-top: 50px;
}
.limiter input:focus {
    border: none!important;
    outline: 0;
}
.dropdown-toggle:hover {
    color: #000!important;
}
.dropdown-toggle:focus {
    color: #000!important;
    box-shadow: none;
}
.user-show-btn {
    width: 100%;
    max-width: 76px;
    text-align: center;
}
.user-show-background {
    background: none!important;
}
.user-show-background table#individual-person-detail {
    border-collapse: unset!important;
    border-top: none;
    border-bottom: 1px solid #ccc;
}
.portfolio-tab a.nav-link.active.show {
    background: transparent;
    color: #54565a!important;
}
@media (max-width:767px){
   .investment-form #msform fieldset {
    width: 100%;
} 
}