.button-lg {
    width: 100%;
    height: 60px;
    border-radius: 50px;
    position: relative;
    z-index: 3;
  background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
       /* background: linear-gradient(to right,#93dbd0 1%,#95dcd1d9 75%, #98dcd296); */
    cursor: pointer;
}
.btn-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    left: 5px;
    top: 4px;
    /* bottom: 5px; */
    background: white;
    box-shadow: inset 0 0 2px 2px #bfbfbf;
}
.circle-img-area {
    max-width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.circle-img-area img {
    max-width: 100%;
}
.btn-name {
    text-align: center;
    color: white;
	/* color: #2d2a26; */
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
   /*  right: -24px; */
    top: 20px;
    font-size: 14px;
	    padding-left: 50px;
}
.button-lg:hover {
    background: linear-gradient(to right,#3494E6,#EC6EAD);
	/* background: linear-gradient(to left,#93dbd0 1%,#67dcca80 75%, #98dcd296); */
}
.minor-account {
    padding-top: 16px;
    margin: auto;
}
.selectoption {
    width: 100%;
    padding: 2px;
    border: 0;
    font-size: 13px;
	background: transparent;
    border-bottom: 1px solid #e6d9d9;
	/* -webkit-appearance: none;
-moz-appearance: none; */
}
.mobile_number.first-mobile {
    display: flex;
}
.country-set {
    position: relative;
    top: 15px;
}
.element-wrapper {
    width: 100%;
}
.attach-btn:after {
    position: absolute;
    content: "Attach Copy";
  /*  background: #1d6ec0; */
	/* background: #65b9ac; */
    width: 98%;
    height: 36px;
  color: #fff;
font-size: 14px;
    font-weight: 600;
    text-align: center;
    left: 0px;
    padding-top: 7px;
    border-radius: 5px;
	    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
		top:0;
}
.attach-btn2:after {
    position: absolute;
    content: "Attach copy of statement";
   color: #fff;
		background: #65b9ac;
    width: 100%;
    height: 32px;
    
    font-weight: 600;
    text-align: center;
    left: 0px;
    padding-top: 5px;
    border-radius: 4px;
}
select#src_of_fund11 {
    width: 25%;
    float: left;
}

a.aml-link {
    text-align: right;
    font-size: 12px;
	color: #2d2a26;
    font-weight: 700;
}
.add-another {
    margin-top: 20px;
}
.add-another a {
   /*  background: #1d6ec0; */
  
    padding: 7px 14px;
    border-radius: 4px;
}

.details-pos {
    position: relative;
    top: 7px;
}
.detail-2 {
    position: relative;
    top: -8px;
}
ul.country-list {
    text-align: left;
}
.col-sm-7.mobile_number {
    display: flex;
}
.veri-detail {
    padding-left: 54%!important;
}
.mobile-index2 {
    z-index: 7;
}

.mobile-index1 {
    z-index: 8;
	}
.verification-otp {
    display: block;
    margin-top: 10px;
    padding: 0 15px;
}
.col-sm-129 {
    width: 200px;
    position: relative;
    margin: auto;
	    margin-top: 10px;
}

.attach-btn2 {
    border-bottom: none!important;
	cursor: pointer;
	font-size: 14px!important;
}
.attach-btn {
    border-bottom: none!important;
	cursor: pointer;
}
.col-sm-12.otp-icon {
    max-width: 220px;
    margin: auto;
}
.row.otp-area {
    margin-top: 10px;
    margin-bottom: 15px;
}
.codename {
    padding-left: 0!important;
}
input#countryname1 {
    width: 242px;
}
input#countryname {
    width: 242px;
}
	.col-sm-6.flag-drop .intl-tel-input {
    float: left;
    width: 100%;
}
.col-sm-6.flag-drop .intl-tel-input .flag-dropdown {
    position: absolute;
    z-index: 6;
    cursor: pointer;
    width: 100%;
}
.intl-tel-input .flag-dropdown .selected-flag {
    margin: 1px;
    padding: 10px 16px 6px 6px;
    height: 37px;
}
.aml-text {
    margin-top: 15px;
}


/* ------------------------------select bank--------------------------- */
.selectbox ul {
    height: auto;
    width: 100%;
    padding: 0;
    user-select: none;
	border-radius: 0;
	border:none;
    border-bottom: 1px solid #e6d9d9;
}
.selectbox ul li { padding: 5px 10px; z-index: 2; font-size: 13px; text-align: left;}
.selectbox ul li:not(.init) { float: left; width: 100%; display: none; background: #f2f4f8; }
.selectbox ul li:not(.init):hover, ul li.selected:not(.init) { background: #09f;color:#fff}

.bank_icon {
  /*   width: 50px; */
	width: 35px;
    display: inline-block;
    margin-right: 10px;
}
.bank_icon img {
 /*  max-width: 45px;
    max-height: 31px; */
	    max-width: 35px;
    height: auto;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.selectbox li.init {
    cursor: pointer;
    
}

button.director-btn.postal-address {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.privous-signup {
    font-size: 13px;
}
a.this-btn {
    font-size: 10px;
	 color:  #2d2a26;
    padding: 6px 5px;
    border-radius: 10px;
    font-weight: bold;
	background: none;
}
a.this-btn.check-this-btn{
    font-size: 10px;
    color: #fff;
	background: #65b9ac;
    padding: 6px 5px;
    border-radius: 10px;
    
}
select#src_of_fund4 {
    width: 25%;
    float: left;
}
.down-arrow.down-arrow-new {
    position: relative;
    top: 4px!important;
    left: 100%!important;
}
small.verification-otp1 {
    position: relative;
    top: -17px;
}
.col-sm-6.trust-signup .chosen-container.chosen-container-multi {
    width: 100%!important;
    border-bottom: 1px solid #ced4da;
}
.col-sm-6.trust-signup .chosen-container-multi .chosen-choices{
	    overflow: initial;
		border:none;
}
.col-sm-6.trust-signup .chosen-container-multi .chosen-choices li.search-choice {
    margin: 3px 1px 0px 0px;
}
.col-sm-6.trust-signup .chosen-container .chosen-drop {
   
    border: none;
    border-radius: 4px;
}
a {
    color: #2d2a26;
}
a:hover {
    color: #2d2a26;
    text-decoration: none;
	
}
span.enter-btns{
    /* height: 60px; */
    /* padding: 18px!important; */
  padding: 19px;
}
.all-btn-color{
	    color: #fff;
		   /*  background: #65b9ac; */
		       background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
    padding: 7px 14px;
	    font-size: 14px;
    font-weight: bold;
}
.all-btn-color1 {
    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
    /* position: absolute;
    right: 15px;
    top: -30px; */
	border-radius:5px;
	margin: auto;
    display: table;
    margin-top: 15px;
}
.all-btn-color:hover {
    color: #fff;
}
small.verification-otp a {
    font-weight: 700;
    color: #2d2a26;
}
input.attach-btn {
    font-size: 14px!important;
}
.upper-btn {
    font-size: 13px;
    font-weight: bold;
}
.police-text {
    margin-top: 10px;
}
.detail-21 {
    margin-top: 10px;
}
.box-margin {
    margin-top: -10px;
}
.box-height {
    min-height: 110px;
}
.box-height1 {
    min-height: 86px;
}
.moderate-btn {
    max-width: 225px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 10px;
    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
}
.heading-text 
{
	    margin: 18px 0;
		text-align: center!important;
}
.check-btn {
    width: 48%;
    float: left;
    margin-bottom: 10px;
    margin: 5px;
    background-color: #E5E7E9;
    color: #fff;
    font-weight: 500;
    box-shadow: inset 1px 1px 1px 1px #ABABAB;
    min-height: 92px;
    padding: 10px;
    border-radius: 4px;
}
.check-btn.active {
	background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
}
h5.element-header3 {
    color: #334152;
    font-size: 16px;
    font-weight: 600;
    max-width: 373px;
    margin: 15px auto;
}
.thanku{
	    padding: 50px 0;
}
.box-height2 {
    min-height: 109px;
}
.radio-to-file {
    width: 45%!important;
    border-bottom: none!important;
    cursor: pointer;
}

.radio-to-file:focus:after, .radio-to-file:active:after {
    background-image: linear-gradient(to right, #2c94ec, #304bb7);
    color: #fff;
}
.calculator-header h2 {
    font-weight: 600;
}
.text-box {
    padding: 10px;
    background: #f3f3f3;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
}
.next-btn {
    margin-top: 20px;
    display: grid;
}
.next-btn a {
    font-weight: 600;
}
.col-md-12.new-box {
    /* display: flex; */
    justify-content: space-between;
	    margin-top: 10px;
}
.new-box input[type="radio"] {
    display: none;
}
.new-box input[type="radio"] + label {
    color: #011c53;
    font-size: 16px;
    width: 49%;
}
.new-box.new-btn input[type="radio"] + label {
    color: #011c53;
    font-size: 16px;
    width: 100%;
}
.new-box input[type="radio"]:checked + label span {
    color: #ffffff;
    background: #65b9ac;
}
.new-box input[type="radio"] + label span {
    background-color: #E5E7E9;
}
.new-box input[type="radio"] + label span {
    display: inline-block;
    width: 100%;
    box-shadow: inset 1px 1px 1px 1px #ABABAB;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
	padding: 12px;
    text-align: center;
}
.own-btn {
    background: #65b9ac;
    border: 2px solid #65b9ac;
}
.own-btn:hover {
   background: #65b9ac;
    border: 2px solid #65b9ac;
}
.own-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(101, 185, 172, 0.65);
}
.text-pera {
    margin-top: 15px;
}
.chart.easyPieChart {
    margin: auto;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #65b9ac;
    border-color: #65b9ac;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(101, 185, 172, 0.62);
}
.calculator-header h4:before {
    margin: auto;
    position: relative;
    top: -10px;
    width: 100px;
    height: 5px;
    content: "";
    display: block;
    background: #65b9ac;
	    border-radius: 24px;
}
@media (max-width: 576px){
.col-md-12.new-box {
    /* display: flex; */
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
}
.new-box input[type="radio"] + label {
    color: #011c53;
    font-size: 16px;
    width: 100%;
}
}
@media (max-width:435px){

.sign-btn{
margin-top: 35px;	
}
}
@media (max-width:576px){
	.radio-to-file:after {
    position: absolute;
    display: block;
    white-space: pre;
    content: "Upload copy of document with signature";
    color: #011c53;
    text-align: center;
    border-radius: 5px;
    background: #E5E7E9;
    padding: 19px;
    font-size: 16px;
    box-shadow: inset 1px 1px 1px 1px #ABABAB;
    top: 0;
    width: 94%;
    left: 15px;
}
.detail-21 {
    margin-top: 0;
}
#msform fieldset {
    padding: 12px 10px;
}
.phoneselect {
    margin-bottom: 14px;
	 margin-top: 5px!important;
 }
.box-height {
    min-height: auto;
}
.box-height1 {
    min-height: auto;
}
.box-height2 {
    min-height: auto;
}
.col-sm-12.new-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
}
.new-box input[type="radio"] + label {
    color: #011c53;
    font-size: 16px;
    width: 100%;
}
.new-box input[type="checkbox"] + label {
    color: #011c53;
    font-size: 16px;
    width: 100%;
}
.box-margin {
    margin-top: 0;
}
.upload-btn-wrapper.upload-sign-btn .radio-to-file:after {
    position: absolute;
    display: block;
    white-space: pre;
    content: "Upload copy of \A document \A with signature"!important;
    color: #011c53;
    text-align: center;
    border-radius: 5px;
    background: #E5E7E9;
    padding: 19px;
    font-size: 16px;
    box-shadow: inset 1px 1px 1px 1px #ABABAB;
    top: 0;
    width: 100%!important;
    left: 0px;
}
.upload-btn-wrapper.upload-sign-btn{
    
    position: relative;
    min-height: 110px;
	    width: 100%;

}
.sign-btn {
    margin-top: 35px;
}
}
@media (min-width:577px) and (max-width:767px){
	.responsive-box {
    padding: 31px 19px!important;
}
.box-height {
    min-height: 133px;
}
span.enter-btns.box-height.box-height-responsive1 {
    padding: 54px 19px;
}
span.enter-btns.box-height.box-height-responsive2 {
   padding: 30px 19px;
}
span.enter-btns.box-height1.box-height-responsive3 {
    padding: 31px 19px;
}
span.enter-btns.box-height.box-height-responsive4 {
    padding: 54px 19px;
}
span.enter-btns.box-height.box-height-responsive5 {
    padding: 30px 19px;
}
span.enter-btns.box-height2.box-height3 {
    min-height: 134px;
}
span.enter-btns.box-height2.box-height4 {
    min-height: 230px;
}
span.enter-btns.box-height5 {
    min-height: 134px;
}
span.enter-btns.box-height5.box-height-responsive6 {
    padding: 43px 19px;
}
}
@media (min-width:768px){
	span.enter-btns.box-height1.box-height-responsive3 {
    padding: 31px 19px;
}
span.enter-btns.box-height.box-height-responsive1 {
    padding: 43px 19px;
}
span.enter-btns.box-height.box-height-responsive2 {
    padding: 30px 19px;
}
span.enter-btns.box-height.box-height-responsive4 {
    padding: 43px 19px;
}
span.enter-btns.box-height5.box-height-responsive6 {
    padding: 31px 19px;
}
}
.new-accept {
    width: 175px!important;
}

.terms_cond ol > li:before {
    content: counters(item, ".") ". ";
    display: none!important;
    padding-right: 0.6em;
}
.input-content .row {
    width: 100%;
}
.new-ilumony {
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    border: 2px solid;
    margin-bottom: 10px;
    width: 100%;
    /* min-height: 159px; */
    background: linear-gradient(to right, #2c94ec, #304bb7);
    color: white;
}

.new-ilumony1 {
    text-align: center;
    padding: 27px 10px;
    border-radius: 10px;
    border: 2px solid;
    margin-bottom: 10px;
    width: 100%;
    background: linear-gradient(to right, #2c94ec, #304bb7);
    color: white;
}

.new-edit-btn {
    margin-bottom: 10px;
    padding: 7px 20px;
}
.sign-background {
    background: #fff;
}
.new-btn-design {
    height: 60px;
    border-radius: 50px;
    position: relative;
    z-index: 3;
    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
    cursor: pointer;
    width: 310px;
    margin: auto;
    display: inline-block;
}
/* .new-ilumony1 li {
    text-align: center;
} */
.donot-btn{
	    right: 185px!important;
}
.save-and-edit {
    border: none;
    border-radius: 5px;
    margin-left: 10px;
	}
.btn-space {
    margin-left: auto;
    display: table;
    margin-top: 20px;
    margin-bottom: 10px;
}
.flag-index {
    z-index: 10;
}
.new-sign-box{
	width: 100%!important;
}
canvas {
    width: 100%;
}
@media (max-width:576px){
	.donot-btn {
    right: 0!important;
    bottom: 42px!important;
}
.col-sm-attach.col-sm-attach1 {
    height: 38px;
    margin-bottom: 11px;
}
.scroll-width::-webkit-scrollbar {
    width: 5px;
}
}
@media (max-width:435px){
	.btn-name.trust-btn {
    position: absolute;
    padding: 0px 57px;
    margin-top: -10px
	}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    padding: 12px 10px;
    box-sizing: border-box;
    width: 100%;
    position: relative;


}
}
/* ----------------------------- start custom upload file type ---------------------------------*/

.file-upload{display:block;text-align:center;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #0886e6;color: #34495e;cursor:pointer;height:35px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#0886e6;padding:0 10px;display:inline-block;height:40px;line-height:40px;position: relative;top: -3px;}
.file-upload .file-select .file-select-name{line-height:30px;display:inline-block;padding:0 10px;top: 2px;position: absolute;}
.file-upload .file-select:hover{border-color:#0886e6;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#0886e6;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

.sign-margin {
    margin-top: 10px;
}
.choos-color {
    color: #fff;
}
/* ----------------------------- end custom upload file type ---------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8bb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e5ea5; 
}
.close {
    line-height: inherit;
    text-shadow: none;
    opacity: 1;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}
.new-edit-btn:hover{
	color:#fff;
}
.snap-position{
	    position: relative;
    top: 10px;
}
.new-camera-design {
    width: 100%!important;
}

.new-camera-design video {
    width: 100%!important;
}
.col-sm-camera {
    width: 100%!important;
	margin: 10px 0;
}

.new-camera-btn:hover{
	color:#fff;
}
.row.camera-and-attach{
	margin: 15px 0;
}
.camera-body {
    margin-bottom: 15px;
}
.retake {
    margin-bottom: 15px;
}
.new-btn-design:hover {
    background: linear-gradient(to right,#3494E6,#EC6EAD);
}
img {
    max-width: 100%;
}


.not-background {
    background: none;
}
/* @media (max-width:767px){
	.new-camera-btn {
    padding: 9px 58px;
    font-size: 14px;
}
} */

.upload-btn-wrapper {
    margin-top: 12px;
   width: 100%;
   height: 36px;
}
.upload-btn-wrapper input[type=file] {
 left: 0;
 top: 0;
 opacity: 0;
}
.upload-sign-btn {
    width: 49%;
	    height: 83%;
}
.new-camera-design {
    width: auto!important;
    height: 100%!important;
}

.upload-btn-wrapper {
    margin-top: 0;
    position: relative;
}
.radio-to-file {
    width: 100%!important;
    border-bottom: none!important;
    cursor: pointer;
    
}
.radio-to-file:after {
    position: absolute;
    display: block;
    left: 0;
    white-space: pre;
    content: "Upload copy of document \A with signature";
    color: #011c53;
    text-align: center;
    border-radius: 5px;
    background: #E5E7E9;
    padding: 19px;
    font-size: 16px;
    box-shadow: inset 1px 1px 1px 1px #ABABAB;
    top: 0;
    width: 100%;
    left: 0;
    max-width: 100%;
}
.upload-btn-wrapper input[type=file] {
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
}
.col-sm-camera {
    width: 100%!important;
    margin: 0px 0;
    position: relative;
    height: 38px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-camera-btn {
    padding: 0;
    font-size: 14px;
    margin: 0;
}
.new-camera-btn:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    border-radius: 5px;
    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
    z-index: -1;
}
.col-sm-attach.col-sm-attach1  {
    height: 38px;
}
.col-sm-attach.col-sm-attach1  .upload-btn-wrapper {
    height: 100%;
}
.col-sm-attach.col-sm-attach1  .attach-btn:after {
    position: absolute;
    content: "Attach Copy";
    /* background: #1d6ec0; */
    /* background: #65b9ac; */
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    left: 0px;
    display: flex;
    padding-top: 0;
    border-radius: 5px;
    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
    top: 0;
    justify-content: center;
    align-items: center;
}

	.form-header {
    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
    text-align: left;
    padding: 6px 7px;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 15px;
}
.with-edit {
    background: #E5E7E9;
    border-radius: 10px;
    margin-bottom: 15px;
}
canvas.setSignature {
    border: 1px solid #b9b7b7cc!important;
}
a.opencamera.moderate-btn.new-camera-btn.not-background {
    width: 100%;
    padding: 6px;
}
@media (min-width:250px) and (max-width:320px){
	h5.element-header3 {
    max-width: 221px;
}
}
@media (min-width:321px) and (max-width:460px){
	h5.element-header3 {
    max-width: 260px;
}
}
@media (min-width:461px) and (max-width:576px){
	h5.element-header3 {
    max-width: 373px;
}
}