 .layout.image-wrapper.protected-hidden.align-center.justify-start {
    float: left;
    max-height: 60px;
    max-width: 90px;
    transition: all 0.3s ease;
}
.layout.company-icon {
    float: left;
    display:flex;
	align-items:center;
    padding: 10px;
	margin-left:80px;
	    
}
.layout.image-wrapper.protected-hidden.align-center.justify-start {
    float: left;
  margin-bottom: 10px;
    width: 50px;
	
   
}
.layout.text-wrapper.align-flex-start.justify-center.column {
    float: left;
    max-width: 100%;
    margin-left: 20px;
    font-size: 14px;
}

.muted {
    color: #687382;
}
.viewbtn__content {
    align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    height: inherit;
    flex: 1 0 auto;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
    width: inherit;
    margin-bottom: 25px;
}

.viewbtn__content button {
    border: none;
    background: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: cadetblue;
}
button:focus {
    outline: 0!important;
}
.company.name {
	float:left;
    width: 70%;
    text-align: center;
    background: linear-gradient(to left,#2e5ea5,#4a8dc9);
    color: white;
    height: 40px;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 500;
}
.company.name2 {
	float:left;
    width: 30%;
    text-align: center;
    background: #b3bdcf;
    color: white;
    height: 40px;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 500;
}
.editdotted {
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
    color: #7e8896;
    font-weight: 500;
	
}
.dotted {
    float: left;
    width: 23.3%;
    text-align: center;
    padding: 10px;
    color: #7e8896;
    font-weight: 500;
	border-right: 2px dashed;
   height: 280px;
}
.text {
    width: 23.3%;
    text-align: center;
    float: left;
}
.text p {
    font-size: 14px;
    color: #7e8896;
    font-weight: 500;
    max-width: 400px;
}
.text li {
    list-style: disc;
    font-size: 14px;
    width: 189px;
}
.custom-plotband {
  border-left: 2px solid #000;
}
.element-wrapper li {
    list-style: disc;
}
td.function {
    font-weight: 500;
	width:10px;
}
tr.header {
    border-bottom: 1px solid #999;
    padding: 10px;
    border: none;
    background: linear-gradient(to left,#2e5ea5,#4a8dc9);
    color: white;
}

table.price-table tr td {
   border-bottom: 1px solid rgba(83, 101, 140, 0.33);
    padding: 10px;
    width: 42%;
}
.commitments.class {
    font-weight: 500;
    color: #90be2e !important;
}
table.price-table {
    margin-bottom: 15px;
	width:100%;
}
.layout.disclaimer {
    margin-bottom: 10px;
}
h2.homecontant {
    font-size: 25px;
    font-weight: 300;
    display: table;
    margin: auto;
	margin-bottom: 10px;
}
p.muted {
    margin-bottom: 16px;
    display: table;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
}
.company-icon {
    
    margin-top: 20px;
}
.text-wrapper {
    width: 20px;
    margin-left: 8px;
    margin-top: 10px;
}
a.learn.button {
    align-items: center;
    font-size: 14px;
    display: table;
    margin: auto;
    margin-top: 15px;
    font-weight: 500;
    color: #2e5ea5;
}
.cardbox-header h3 {
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    margin: auto;
    line-height: initial;
    margin-bottom: 10px;
    display: table;
    margin-top: 10px;
}
.cardbox-header img {
    max-height: 58px;
    max-width: 200px;
    display: table;
    margin: auto;
    margin-bottom: 10px;
	    margin-top: 10px;
}
.cardbox-header a {
    background: #2e5ea5;
    border: 1px solid #2e5ea5;
    color: white !important;
    border-radius: 30px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    display: table;
    margin: auto;
    margin-top: 12px;
}
p.first-peragraph {
    font-weight: 500;
}
.card-information p {
    padding: 0 30px;
    font-size: 10px;
}
.card-desc {
    padding: 0 30px;
    font-size: 10px;
    margin-top: 10%;
    font-weight: 400;
	margin-bottom:30px;
}
.card-follow span {
    font-size: 11px;
    font-weight: 500;
    padding: 0 30px;
	
}
.cardbox {
    border: 1px solid lightgray;
    margin-bottom: 20px;
	display: table;
    height: 95%;
}
.card-follow {
    margin-bottom: 15px;
	    position: absolute;
    bottom: 10px;
}
.cardbox:hover {
    position: relative;
    top: -6px;
}
@media (min-width: 1200px)
.container {
    PADDING: 2rem;
}
.fundheading {
    padding: 2rem;
}
.header-logo {
    color: #fff;
    position: absolute;
    bottom: -76px!important;
    max-width: 775px;
    width: 100%;
}
.holdings h3 {
    font-size: 16px!important;
}
.fundbutton {
    position: absolute;
    top: -4px;
    right: -1px;
    padding: 6px;
    border-radius: 4px;
    background: #2e5ea5;
    color: #fff;
    font-size: 10px;
}
.Portfolio-page-text {
    text-align: left;
}

a.add-card {
    display: table;
    margin: auto;
    margin-top: 25%;
}

.cards-master {
    border: 1px solid;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
	background:linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
	    position: relative;
}
.cards-visa {
    border: 1px solid;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
	background:linear-gradient(to right, rgb(189, 195, 199), rgb(44, 62, 80));
	position: relative;
}
.cards-new {
    border: 1px solid;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
	background:gray;
}

.card-head {
    margin-top: 10px;
    margin-bottom: 20px;
}
.card-mid h6 {
    float: left;
    display: table;
    margin: 2px;
    margin-bottom: 40px;
	color: white;
}
.card-mid {
    width: 100%;
    float: left;
}
.card-foot h5 {
    font-size: 16px;
	float:left;
}
.card-foot img {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 108px;
    border: none;
	    margin-bottom: 10px;
}
.card-foot h5 {
    color: white;
}
.card-head h5 {
    color: white;
}
a.add-card {
    color: white;
}
.cards-master:hover .button-text {
    background: #00000096;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-text a {
    margin: 4px;
    color: white;
    font-weight: 500;
    border: 1px solid;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
}
.button-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
	    opacity: 0;
}
.cards-visa:hover .button-text {
    background: #00000096;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#myModal {
    max-width: 700px;
    margin: auto;
    height: auto;
    color: #fff;
 
}
.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}
.modal-body p {
    color: gray;
    font-weight: 500;
}
input.edit-number {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding: 10px;
	    border: 1px solid #999;
}
.card-expiry input {
    width: 80%;
    height: 44px;
    border-radius: 6px;
    padding: 10px;
	    border: 1px solid #999;
}
.card-expiry {
    WIDTH: 50%;
    FLOAT: LEFT;
}
.card-holder input {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding: 10px;
	    border: 1px solid #999;
}
.card-update {
    width: 100%;
    color: white;
    background: #2e5ea5;
    border: none;
    font-weight: 500;
}
.card-update:hover {
    color: white;
    background: #2e5ea5;
    border: none;
    font-weight: 500;
}
.add-card-model {
    padding: 10px;
}
.add-card-model h5 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-item {
    width: 50%;
    float: left;
    margin: 0;
    border: 1px solid;
    border-radius: 6px;
}
li.nav-item.card-item {
    margin-right: 0rem !important;
}
.card-type select {
    width: 100%;
    border-radius: 5px;
    height: 45px;
    padding: 10px;
}
.account-details {
    width: 100%;
    float: left;
    background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
    border-radius: 6px;
    padding: 10px;
	    padding-bottom: 50px;
}
.bank-name {
    width: 30%;
    float: left;
}
.more-details {
    width: 70%;
    float: left;
        margin-top: 20px;
}
.more-account {
    text-align: center;
    border: 1px solid;
    height: 100%;
    border-radius: 6px;
	    background: gray;
}
.account-header h5 {
    color: white;
    margin-bottom: 15px;
}
.account-header p {
    color: white;
}
.bank-name {
    color: white;
    text-align: center;
}
.add-cardfont {
    font-size: 18px;
    margin-left: -8px;
    width: 100%;
    text-align: center;
}
.account-details:hover .button-text {
    background: #00000096;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.compay-update {
    text-align: right;
    float: right;
}
.header-image a.button_inv.btn-style {
    background: #c64b38!important;
 
}
.header-logo_row h1 {
    color: #2d2a26;
}
#fundPerformanceChart1 path.highcharts-area {
   
    fill: #799fc3!important;
}
.cols-1:after {
    background: #2d2a26c2;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.cols-1 {
    position: relative;
}
.portfolio_overlay {

    background: linear-gradient(to right,rgb(147, 219, 208),rgba(179, 179, 189, 0.7));

}
.invst-option .ilumony-box.text-center {
    background: #54565a!important;
}