.color0{
    color:#0032AB
}
.color1 {
    color: #37363e
}

.color2 {
    color: #2494A2
}

.color3 {
    color: #fff
}

.color4 {
    color: #f5f5f5
}

.color5 {
    color: #0064D5
}

.color6 {
    color: #33577b
}

.color7 {
    color: #26a65b
}

.color8 {
    color: #51b7a3
}

.color9 {
    color: #f39c12
}

.color10 {
    color: #ef4836
}

.color11 {
    color: #9a80b9
}

.color12 {
    color: #a2ded0
}

.color13 {
    color: #d2527f
}

.color14 {
    color: #c78568
}

.color15 {
    color: #e99844
}
.color16{color:#68A19C}
.color17{color:#661243}
.color18{color:green}

.color0-bg {
    background: #3d464d
}

.color1-bg {
    background: #37363e
}

.color2-bg {
    background: #58666e
}

.color3-bg {
    background: #e4e4e4
}

.color4-bg {
    background: #f5f5f5
}

.color5-bg {
    background: #399bff
}

.color6-bg {
    background: #33577b
}

.color7-bg {
    background: #26a65b
}

.color8-bg {
    background: #51b7a3
}

.color9-bg {
    background: #f39c12
}

.color10-bg {
    background: #ef4836
}

.color11-bg {
    background: #9a80b9
}

.color12-bg {
    background: #a2ded0
}

.color13-bg {
    background: #d2527f
}

.color14-bg {
    background: #c78568
}

.color15-bg {
    background: #e99844
}

.ilumony-bg0{
    background:url('../img/crypto-coins1.png')center center no-repeat;
    background-size: cover; 
    text-decoration: none;

}

.ilumony-bg1{
    background-image: url('../img/ilumony-bg1.png');    
    background-repeat: no-repeat;
    background-size: cover; 
    text-decoration: none;

}

.ilumony-bg2{
    background-image: url('../img/ilumony-bg2.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg3{
    background-image: url('../img/ilumony-bg3.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg4{
    background-image: url('../img/ilumony-bg4.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg5{
    background-image: url('../img/ilumony-bg5.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg1{
    background-image: url('../img/ilumony-bg1.png');    
    background-repeat: no-repeat;
    background-size: cover;

}


.bubble {
    width: 100%;
    padding: .5em;
    line-height: 1.0em;  
    font-size:12px;
    background-color: #ecf0f1;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    display: inline-block; }
.bubble:hover > .over-bubble {
    opacity: 1; }

.bubble-container {
    width: 75%;
    display: block;
    position: relative;
    padding-left: 10px;
    vertical-align: top;
    display: inline-block; }

.arrow {
    content: '';
    display: block;
    position: absolute;
    left: 12px;
    bottom: 25%;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ecf0f1; }

.timeline {
    width: 100%;
    display: block;
    margin: auto;
    list-style: none;
    padding-left: 0px;
    background-color: #dde1e2;
    padding-bottom: 2em;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 2em; }
.timeline li {
    padding: .5em 0; }
.timeline li:nth-child(even) {
    background-color: #d3d7d8; }

.avatar {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-left: 2%; }
.avatar img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ecf0f1;
    position: relative; }
.avatar:hover > .hover {
    cursor: pointer;
    opacity: 1; }

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    top: 0;
    font-size: 1.8em;
    border: 5px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding-top: 24%;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }

.first-title {
    width:100%;
    display: block;
    margin: auto;
    background-color: #3498db;
    text-shadow: #2084c7 1px 1px 0;  
    color: white;
    text-align: center;  
    padding: 5px 0px;
    font-size: 1.2em;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    position: relative; }

.icon-twitter {
    font-size: 1.5em; }

.new {
    position: absolute;
    right: 5%; }

.over-bubble {
    line-height: 1.4em;
    padding-top: 5%;
    background-color: rgba(236, 240, 241, 0.8);
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    position: absolute !important;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    font-size: 2.0em;
    text-shadow: white 1px 1px 0;
}

.action {
    margin-right: .3em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

.icon-star {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
.icon-star:hover {
    cursor: pointer;
    color: #f39c12; }

.icon-retweet{
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
.icon-retweet:hover {
    cursor: pointer;
    color: #16a085; }

.icon-mail-reply {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; 
}
.icon-mail-reply:hover {
    cursor: pointer;
    color: #3498db; 
}

/*h3 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Lato';
    margin-bottom: .2em;
    color: #95a5a6;
    margin-top:.2em}*/
/*h6 {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Lato';
    margin-bottom: .2em;
    color: #95a5a6;
    margin-top:.2em}*/

.retweet {
    position: absolute;
    opacity: 1;
    top: 0;
    right: 1em;
    display: block;
    background-color: #16a085;
    padding: 4px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }
.retweet .icon-retweet {
    color: white;
    margin: auto;
    width: 100%;
    display: block;
    font-size: 1.2em; }
.fund-btn img:hover{width:100%;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); transition: all 0.6s cubic-bezier(0.150, 0.84, 0.44, 1);}
.el-tablo1{ padding: 5px; background: #7cb5ec;background: linear-gradient(#009FFF,#48BAFF);box-shadow: 0px 15px 3px -8px #000;}
.text{ display: block}
li{ list-style: none}
.investment-content{text-align: center; padding:30px 0; background: url(../img/bg-pattern2.png); background-size: cover; margin-top: 20px; margin-bottom: 20px }
.centered{ margin: 0 auto}
@media (max-width:767px){
    .centered{ margin: 10px auto}
}
input#generate-otp {
    z-index: 0;
}
input#fourthfs-continue {
    z-index: 0;
}
.cs-loader {
    z-index: 9999999999!important;
}
input#address {
    z-index: 0;
}
.error {
    margin-bottom: 0;
    font-size: 13px;
    color: red;
    font-weight: 600;
    margin: 10px 0;
    display: block;
}
.header-image {
    background-image: url(background.jpg);
    min-height: 318px;
    margin-bottom: 125px;
    position:relative;
    padding:35px;
}
img {
    max-width: 100%;
}
.header-logo {
    color: #fff;
}
.header-logo h1 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-size: 32px;
}
.header-logo {
    color: #fff;
    position: absolute;
    bottom: -76px;
    max-width: 775px;
    width: 100%;
}   
.header-logo_row {
    max-width: 775px;
    float: left;
    width: 100%;
}   
.cols-2 {
    max-width: 519px;
    float: left;
    width: 100%;
}
.Portfolio-page-text{
    text-align:centre;
}
.Portfolio-page-text {
    text-align: center;
}
.Portfolio-page-text h3 {
    color: #2e5ea5;
}
.other_row-img {
    width: 20%;
    float: left;
    margin-right: 11px;
    min-width: 44px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 3px black;
}

.other_row {
    margin-bottom: 10px;
    float: left;
}
.box-chrt {
    box-shadow: 0 0 3px 0px black;
    padding: 20px;
    margin-bottom: 17px;
    position: relative;
}
.box-chrt p {
    margin-bottom: 1px;
    font-size: 19px;
    color: #4a4a4a;
}
.box-chrt h6 {
    font-weight: 600;
    font-size: 24px;
}
.char_per {
    position: absolute;
    right: 5px;
    top: 6px;
    background: #0bad19;
    color: #fff;
    padding: 2px 9px;
    font-size: 12px;
    border-radius: 2px;
}
.header-logo p {
    margin-bottom: 5px;
    font-size: 16px;
}
.up_makt {
    color: green;
}
.up_makt {
    color: green;
    font-weight: 600;
    padding: 10px;
    padding-left: 0;
    font-size: 20px;
}
.d_makt {
    color: red;
    font-weight: 600;
    padding: 10px;
    padding-left: 0;
    font-size: 20px;
}
.info-port-text p {
    color: #4a4a4a;
}
.up_makt h5 {
    margin-bottom: 0;
    color: #4a4a4a;
    line-height: 30px;
    font-size: 20px!important;
}
.info-port {
    width: 100%;
    margin-top: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
div#spline_chart {
    background-image: url(bicoint-tm.jpg);
    background-position: center;
    background-size: cover;
    padding: 39px 2px 0 0;
}
.other_port {
    float: left;
    width: 100%;
    padding-top: 21px;
    border-top: 1px solid #999999;
}
.other_row-text {
    float: left;
    width: 58%;
    text-align: left;
}
.our-Partner .partner a {
    margin: auto;
    margin-bottom: 12px;
    float: left;
    max-width: 126px;
    width: 100%;
    clear: both;
    /* margin: auto; */
}

.our-Partner .partner {
    float: left;
    width: 100%;
}
a.button_inv {

    color: #2e5ea5!important;

}
a.button_inv.btn-style:hover {
    color: #FFF!IMPORTANT;
}
.cols-1 {
    max-width: 199px;
    float: left;
    margin-right: 25px;
}

.Portfolio-page-text h3 {
    color: #2e5ea5;
    font-size: 20px;
    margin-bottom: 14px;
}

.char_section {
    margin-bottom: 35px;
}
.chart_section_pie h3 {
    margin-bottom: 22px;
}
.our-Partner {
    float: left;
    width: 100%;

}
.our-Partner h3 {
    border-bottom: 1px solid #999999;
    padding-bottom: 15px;
}
.header-logo_row img {
    border-radius: 5px;
}
.side_barr {
    float: left;

    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
.Portfolio-page .element-box {
    margin-bottom: 15px;
}
.char_section {
    margin-bottom: 35px;
    background: #2c2465;
    padding: 31px 0px;

    background: -moz-linear-gradient(top, #e7bcec 0%, #4b67b7 100%, #ff7cd8 100%);
    background: -webkit-linear-gradient(top, #e7bcec 0%,#4b67b7 100%,#ff7cd8 100%);
    background: linear-gradient(to bottom, #e7bcec -16%,#4b67b7 100%,#ff7cd8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 );
}
.header-logo_row img {
    border-radius: 5px;
    width: 196px;
    height: 190px;
    object-fit: cover;
    box-shadow: 0 0 2px black;
}
a.button_yel {
    width: 233px;
    background: #1976d3;
    padding: 11px;
    color: #ffffff!important;
    border: 0;
    display: table;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
a.button_inv {
    width: 233px;
    background: #7809c0;
    padding: 11px;
    color: #f9f9f9!important;
    border: 0;
    display: table;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.header-logo_row h1 {
    color: #fff;
}
.header-image a.button_inv.btn-style {
    position: absolute;
    /* left: 0; */
    right: 0;
    text-align: center;
    color: #fff!important;
    bottom: -63px;
    border: 0;
    background: #7809c0;
}
.btn-style:hover {
    color: white;
    background: linear-gradient(to left, #65b9ac, #65b9ac8c)!important;
    border: none;
}
.highcharts-negative {

    stroke: #b50808;


}
rect.highcharts-point.highcharts-color-0 {
    stroke: green;
    stroke-width: 2px;
}
.menu-side .content-w {
    border-radius: 0px 4px 4px 0px;
    display: table-cell;
    float: left;
    width:100%
}

.tran-id{
    display:none;
}

::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8585a5;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2e5ea5; 
}

.borderRadius{-moz-border-radius:5px; border-radius:5px; }
.borderRadiusTp{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
    opacity: .5; /* standard: ff gt 1.5, opera, safari */
    -ms-filter:"alpha(opacity=50)"; /* ie 8 */
    filter:alpha(opacity=50); /* ie lt 7 */
    -khtml-opacity:.5; /* safari 1.x */
    -moz-opacity:.5; /* ff lt 1.5, netscape */
    color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left;width: 30px;}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/

.dd .divider{border-left:1px solid #c3c3c3; border-right:1px solid #fff;; right:24px;}
.dd .ddArrow{width:16px;height:16px; margin-top:-8px; background:url(../../images/msdropdown/skin1/dd_arrow.gif) no-repeat;}
.dd .ddArrow:hover{background-position:0 100%;}

.dd .ddTitle .ddTitleText {
    padding: 5px 20px 5px 5px;
    font-size: 20px;
}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;width: 30px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.dd .ddChild li{padding:5px; background-color:#fff; border-bottom:1px solid #10157e;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
li.enabled._msddli_.selected {
    background: green;
}
li.enabled._msddli_.selected span {
    color: white;
}


div#tech_child {
    height: auto!important;
}
span.ddlabel {
    font-size: 16px;
}
.dd {
    border-bottom: 2px solid #0d0f54;
    border-radius: 0;
}
.dd .divider {

    display: none;
}
li.enabled._msddli_.selected::after {
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 6px;
    position: absolute;
    vertical-align: middle;
    content:"\f00c";
    /*    font-family: 'Font Awesome\ 5 Free';*/
    /* position: absolute; */
    right: 0;
    top: 4px;
    font-size: 14px;
    /*background: #101554;*/
    border-radius: 50px;
    padding: 4px;
    color: #fff;
}
.ddcommon .ddChild li {

    position: relative;
}
li.enabled._msddli_.hover.selected {
    /* color: red!important; */
    display: block;
    background: green!important;
    position: relative;
    top: 0;
    opacity: 1;
}
li.enabled._msddli_:hover {

    background: #999;
    color: #fff!important;
}
li.enabled._msddli_:hover span.ddlabel {
    color: #fff;
}
div#currency_child{
    height: 258px!important;
}
.das-board {
    background: url(../img/background12.jpg);
    padding: 10px;
}
.element-box.ele-overlay {
    background: transparent!important;
}
.element-box.ele-overlay:before {

    background-image: linear-gradient( #e8b9e0 7%, #2e5ea5 116%)!important;

    opacity: 0.4!important;
}
ul.country-list::-webkit-scrollbar {
    width: 8px;
}

ul.country-list::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 3px rgb(13, 129, 221); 
    border-radius: 10px;
}

ul.country-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #98ddd2;
}
@media(max-width:1200px){
    .header-image a.button_inv.btn-style {

        bottom: -118px;
        border: 0;
    }
}
@media(max-width:700px){
    .header-logo {


        bottom: -87px;
        max-width: 775px;
        left: 0;
        padding: 14px;
        width: 100%;
    }
    .header-logo_row img {

        width: 100px;
        height: 100px;

    }

}
@media (min-width:1024px){
    .menu-and-user {

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
span#currency_title:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3a3232;
    content: "";
    right: 0;
    position: absolute;
    top: 15px;
    right: 6px;
}
span#add-fund-modal-currency_title:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3a3232;
    content: "";
    right: 0;
    position: absolute;
    top: 15px;
    right: 6px;
}
span#currency1_title:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3a3232;
    content: "";
    right: 0;
    position: absolute;
    top: 15px;
    right: 6px;
}
.ddTitle.borderRadiusTp {
    cursor: pointer;
}
div#currency1_msdd {
    width: 100%!important;
}
label.currency1 {
    display: block;
}
.borderRadiusTtp div#currency1_child {
    min-height: 156px;
    display: block!important;
}
@media (max-width:400px){
    div#currency_msdd {
        width: 100%!important;
    }  
}
@media (max-width:476px){
    .swal2-popup .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #3085d6;
        color: #fff;
        font-size: 1.0625em;
        margin: 10px 0;
    }
    .swal2-actions {
        flex-wrap: wrap;
    }
}