h6.hearder-int {
    text-transform: uppercase;
    padding: 10px 0px;
    font-size: 14px;
}
.das-board {
    padding: 10px;
    background: white !important;
}
.element-box.ele-overlay:before {
    background: white !important;
}
.box-style, .user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
    border-radius: 4px;
    /*    background-color: #fff;*/
    -webkit-box-shadow: none;
    box-shadow:none; 
}
.show_btn.lable a {
    border-radius: 50px;
    width: 100%;
    max-width: 80%;
    padding: 10px 10px;
    background: #57e7d2 !important;
    font-weight: 500;
}
.show_btn.lable {
    margin-top: 25px;
}
.element-box.el-tablo.centered.trend-in-corner.smaller .value {
    color: black !important;
    font-size: 24px !important;
    position: relative;
    bottom: 60px;
    background: white;
    padding: 16px 0px;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
    border-radius: 20px;
    width: 100%;

}
.el-tablo.smaller .label {
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 1px !important;
    text-align: center;
    text-transform: unset;
    color: black;
    font-weight: 400;
    background: #ddf8f4;
    height: 110px;
    border-radius: 18px;
    padding-top: 12px;
}
.das-board .el-tablo.trend-in-corner {
    position: relative;
    min-height: 120px !important;
    max-height: 120px !important;
} 
.add-cls-box {
    padding: 0;
}
.with-side-panel .content-i {
    display: table;
    width: 100%;
    table-layout: fixed;
    background: #f5f9f8;
}
/*rect.highcharts-point.highcharts-color-0 {
    stroke: green;
    stroke-width: 0px;
    width: 10px;
}*/
rect.highcharts-point.highcharts-color-1 {
    width: 10px;
}
rect.highcharts-point.highcharts-color-2 {
    width: 10px;
}
.add-link {
    padding: 0.7em .6em;
    /*    background: linear-gradient(to right, rgb(159, 215, 200), rgb(142, 240, 193));*/
    width: 137%;
    color: white !important;
    background-image: linear-gradient(to right, #93dbd0 , #42fff1);
}

.max-box {
    max-height: 100%;
    height: 500px;
    padding-top: 0;
}
.nav-link {
    display: block;
    padding: 10px 5px;
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}
.value.sumWalletBalance{
    float: left !important;
}
.wlcm-heading {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
a.nav-link:hover {
    color: black;
}
.custom-add-box {
    float: left;
    border-right: 1px solid #ccc;
    max-width: 100%;
    padding-right: 20px;
}
.custom-add-box-1 {
    max-width: 100%;
    float: left;
    padding-left: 20px;
}
.add-label {
    margin-top: 0;
}
.clr-add {
    color: #69aba1;
}
.start-amnt {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.add-value{
    font-size: 20px !important;
}
a.nav-link.add-link.active {
    background: white;
    color: black !important;
}
.main-part-font {
    font-size: 10px;
    padding: 12px 6px !important;
}
.new-smaller {
    padding: 0 !important;
    overflow: hidden;
}
.new-feature-text p {
    /*    border-bottom: 1px solid #bbbec336;
        padding-bottom: 10px;
        margin-bottom: 17px;*/
    min-height: 70px;
}
.btn-success {
    padding: 6px 50px !important;
    margin-bottom: 5px !important;
    background-color: #93dbd0 !important;
    border-radius: 25px !important;
    border: 3px solid #93dbd0 !important;
    color: white;
    text-decoration: none !important;
}
.btn-success:hover {

    background-color: #93dbd0 !important;
    border-radius: 25px !important;
    border: 3px solid !important;
    color: white !important;
    text-decoration: none !important;
}
.btn-danger {
    color: #93dbd0 !important;
    background-color: white !important;
    border-color: white;
    border: 3px solid !important;
    border-radius: 25px !important;
    text-decoration: none !important;
}
.btn-danger:hover {
    color: #93dbd0 !important;
    background-color: white !important;
    border-color: white;
    border: 3px solid !important;
    border-radius: 25px !important;
    text-decoration: none !important;
}
h6.new-design-hearder {
    font-size: 16px;
    justify-content: space-between;
    display: flex;
}
.risk-data h6 {
    color: #93dbd0;
    font-size: 16px;
}
.mint-Diversified {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    background: #93dbd0 !important;
}
.mint-Diversified h5 {
    font-size: 18px;
}
.mint-Diversified p {
    color: white;
}
a.fund-detail-btn:hover {
    color: white;
}
h6.new-design-hearder.aad-may {
    margin-bottom: 14px;
}
.data-funds {  
    height: 400px;
}
.add-fund-btn{
    display: inline-grid;
    justify-content: right;
    width: 100%;
    background: initial;
    box-shadow: initial;
    position: relative;
    top: -20px;
}
a#sell-funds-to-portfolio-action:hover {
    text-decoration: initial;
    background: #93dbd0;
    box-shadow: none;
}
a#add_fund:hover {
    box-shadow: none;
}
@media (max-width:767px){
    .btn-width {
    padding: 6px 20px !important;
    max-width: 150px!important;
}
.element-box.add-fund-btn {
    display: flex;
    justify-content: space-around;
}
.sell-btn-style {
    height: 37px;
}

}
.mint-btn-design {
    background: #93dbd0 !important;
    color: #fff!important;
    border: 1px solid #93dbd0!important;
    border-radius: 25px!important;
    padding:6px 40px!important;
        transition: .5s;
        display: inline-block;
}
.mint-btn-design:hover {
    background: #537b75!important;
    color: #fff!important;
    border: 1px solid #537b75!important;
}
.mint-transparent {
    background: #fff!important;
    color: #93dbd0!important;
}
.low-padding{
    padding:6px 20px!important;
}